<app-header></app-header>

<div class="page">

  <div class="page__title">
    <h1 class="mat-display-1">A collection of "scratch my itch" type applications.</h1>
  </div>

  <div class="page__app-list">

    <mat-card
      class="page__app-list__card"
      *ngFor="let app of apps">

      <mat-card-header>
        <mat-card-title>{{ app.appId | uppercase }}</mat-card-title>
        <mat-card-subtitle>{{ app.appId}}.evley.app</mat-card-subtitle>
      </mat-card-header>
      <img
        mat-card-image
        [src]="'./assets/' + app.appId + '.jpg'">
      <mat-card-content>
        {{ app.description }}
      </mat-card-content>
      <mat-card-actions>
        <a
          mat-button
          color="primary"
          target="_blank"
          [href]="app.projectUrl">
            APP
        </a>
        <a
          mat-button
          target="_blank"
          [href]="app.repoUrl">
            REPO
        </a>
      </mat-card-actions>
    </mat-card>

  </div>

</div>
